@define-color foreground   #d4be98; /* Gruvbox Material fg0 */
@define-color background   #282828; /* Gruvbox Material bg0 */
@define-color color0       #282828; /* Gruvbox Material bg0 */

@define-color accent       #d3869b; /* Gruvbox Material bright_purple */
@define-color color2       #d3869b; /* Gruvbox Material bright_purple */
@define-color color3       #83a598; /* Gruvbox Material bright_blue */
@define-color color4       #fabd2f; /* Gruvbox Material bright_yellow */
@define-color color5       #d3869b; /* Gruvbox Material bright_purple */
@define-color color6       #8ec07c; /* Gruvbox Material bright_aqua */

@define-color shadow       #32302f; /* Gruvbox Material dark0_soft */

@define-color orange       #fe8019; /* Gruvbox Material bright_orange */
@define-color blue-alt     #83a598; /* Gruvbox Material bright_blue */
@define-color purple       #b16286; /* Gruvbox Material neutral_purple */

@define-color bg           #3c3836; /* Gruvbox Material dark1 */
@define-color bgh          #3c3836; /* Gruvbox Material dark1 */
@define-color bg1          #282828; /* Gruvbox Material bg0 */
@define-color bg2          #504945; /* Gruvbox Material dark2 */

@define-color cursor       #d4be98; /* Gruvbox Material fg0 */
