@define-color accent   #1c111e;
@define-color color2   #000000;
@define-color color3   #808080;
@define-color color4   #000000;
@define-color color5   #808080;
@define-color color6   #000000;

@define-color shadow   #e6e6e6;

@define-color foreground #1b1c14;
@define-color background #fcfaed;
@define-color color0 #fcfaed;

@define-color shadow   #e6e6e6;

@define-color orange #fc9d8a;
@define-color blue-alt #7E9CD8;
@define-color purple #d3869b;
@define-color bg #1F1F28;
@define-color bgh #1f1f28;
@define-color bg1 #191919;
@define-color bg2 #34344b;
@define-color cursor #e2e2e9;
