$surface-subtext: #e6e1e9;
$surface-base: #141318;
$surface-peach: #ff8678;
$surface-mauve: #c4abff;
$surface-blue: #e48fab;

* {
  all: unset;
}

.layout-box {
  font-family: "Zed Mono Nerd Font";
  font-size: 1.2em;
  background-repeat: no-repeat;
  background-size: auto;
  color: rgba($surface-subtext, 1);
  background-color: rgba($surface-base, 1);
  border: 2px solid rgba($surface-mauve, 0.8);
  border-radius: 5px;
  margin: 0.5em 2.5em 0.5em 2.5em;
}

.layout-key {
  color: rgba($surface-blue, 1);
}

.layout-submap {
  color: rgba($surface-mauve, 1);
}

.layout-desc {
  font-size: 1.1em;
  color: rgba($surface-peach, 1);
}

